In [7]:
import pandas as pd
from io import StringIO


html = '<table><tr><td>1</td><td>2</td><td>3</td></tr><tr><td>4</td><td>5</td><td>6</td></tr></table>'
html

'<table><tr><td>1</td><td>2</td><td>3</td></tr><tr><td>4</td><td>5</td><td>6</td></tr></table>'

In [8]:
# read HTML tables into a list od DataFrame objects
df = pd.read_html(StringIO(html))
df

[   0  1  2
 0  1  2  3
 1  4  5  6]

In [9]:
df =df[0]
# drop column of index 2
df = df.drop(2, axis=1)
df

   0  1
0  1  2
1  4  5

In [10]:
# change column tag
column_tag = ['first', 'second']
df.columns = column_tag
df

   first  second
0      1       2
1      4       5

In [13]:
# append df to another df
df_all = pd.DataFrame()
df_all = df_all.append(df, ignore_index=True)
df_all = df_all.append(df, ignore_index=True)
df_all

   first  second
0      1       2
1      4       5
2      1       2
3      4       5

In [14]:
# write to csv
df_all.to_csv('./test_pd.csv')

In [21]:
# from dic
dic = {'1': [1,2], '2': [2,3], '3': [3,4]}
df = pd.DataFrame.from_dict(dic)
df

   1  2  3
0  1  2  3
1  2  3  4

In [26]:
# get cell value
print(df.at[0, '1'])
print(df['1'])
print(type(df['1']))

1
0    1
1    2
Name: 1, dtype: int64
<class 'pandas.core.series.Series'>

In [34]:
import numpy as np 
df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]), index=[1,2,3], columns=['a', 'b', 'c'])
df2

   a  b  c
1  1  2  3
2  4  5  6
3  7  8  9

In [38]:
print(df2.axes)
print(df2.index)
print(df2.columns)
print(type(df2.columns))

[Int64Index([1, 2, 3], dtype='int64'), Index(['a', 'b', 'c'], dtype='object')]
Int64Index([1, 2, 3], dtype='int64')
Index(['a', 'b', 'c'], dtype='object')
<class 'pandas.indexes.base.Index'>

In [7]:
# 计算移动平均线  长度=3
import pandas as pd
import numpy as np
MD = []
values = []
df = pd.DataFrame(np.array([[1,2,3,4,5,6,7,8,9], [1,2,3,4,5,6,7,8,9]]).T, columns=['a', 'b'])
for index, row in df.iterrows():
    values.append(row['b'])
    if len(values) == 4:
        del values[0]
    print(values)
    MD.append(np.average(values))

print(MD)
print(type(MD))
print(np.asarray(MD))
print(type(np.asarray(MD)))

[1]
[1, 2]
[1, 2, 3]
[2, 3, 4]
[3, 4, 5]
[4, 5, 6]
[5, 6, 7]
[6, 7, 8]
[7, 8, 9]
[1.0, 1.5, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0]
<class 'list'>
[1.  1.5 2.  3.  4.  5.  6.  7.  8. ]
<class 'numpy.ndarray'>